@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(/fonts/roboto-mono-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(/fonts/roboto-mono-700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'Roboto Mono' !important;
    background-color: #000000;
    color: #E5E5E5;
}

pre {
    font-family: 'Roboto Mono' !important;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: 700;
}

.black {
    color: #000000;
}
.red {
    color: #CD0000;
}

.green {
    color: #00CD00;
}

.yellow {
    color: #CDCD00;
}

.blue {
    color: #0000EE;
}

.magenta {
    color: #CD00CD;
}

.cyan {
    color: #00CDCD;
}

.white {
    color: #E5E5E5;
}

.bright-black {
    color: #7F7F7F;
}

.bright-red {
    color: #FF0000;
}

.bright-green {
    color: #00FF00;
}

.bright-yellow {
    color: #FFFF00;
}

.bright-blue {
    color: #5C5CFF;
}

.bright-magenta {
    color: #FF00FF;
}

.bright-cyan {
    color: #00FFFF;
}

.bright-white {
    color: #FFFFFF;
}

